/* users 1 beta*/

/* me */
[user_by_bdfdb="490519932292038659"] + .headerInfo-30uryT .profileBadgeHypeSquadOnlineHouse2-2oU04B {
    background:none;
    content: url('https://i.redd.it/e63co024yh741.png');
}
[user_by_bdfdb="490519932292038659"] > div >.header-QKLPzZ.da-header {
    background: url('https://img2.pngio.com/centaurus-breakout-github-universe-png-2560_852.jpg');
    background-size: 100%;
}
[user_by_bdfdb="490519932292038659"] > div.da-header {
    background: url('https://i.pinimg.com/originals/e4/26/70/e426702edf874b181aced1e2fa5c6cde.gif');
    background-size: 100%;
}
