/* ---------------------------------------- Sara.Hz ---------------------------------------- */

[user_by_bdfdb="537959413634564100"] >
.da-topSectionNormal {
  background: url('https://cdn.discordapp.com/attachments/660939511345315850/789602426029342740/2191f59de98bbe666539a4e0f88008f4.gif') center/cover no-repeat ;
}
[user_by_bdfdb="537959413634564100"] >
.da-topSectionPlaying {
  background: url('https://cdn.discordapp.com/attachments/660939511345315850/789602426029342740/2191f59de98bbe666539a4e0f88008f4.gif') center/cover no-repeat ;
}
[user_by_bdfdb="537959413634564100"] >
.da-topSectionSpotify{
  background: url('https://cdn.discordapp.com/attachments/660939511345315850/789602426029342740/2191f59de98bbe666539a4e0f88008f4.gif') center/cover no-repeat ;
}
[user_by_bdfdb="537959413634564100"] >
.da-header {
  background: url('https://cdn.discordapp.com/attachments/660939511345315850/789600405767979051/2d1486fda174a0058783c481a2765f13.jpg') center/cover no-repeat ;
}
.avatar-1BDn8e[src*="537959413634564100"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "";
    background-image: url('https://static.thenounproject.com/png/160062-200.png');}
.avatar-1BDn8e[src*="537959413634564100"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
    content: "Friend";
    animation: fadeIn .5s linear 1;
    color: #7d864b;
    width: 80px;
    text-align: center;
    background-color: transparent;
}

/* ---------------------------------------- Hadiss ---------------------------------------- */
[user_by_bdfdb="626144497641717800"] >
.da-header {
  background: url('https://cdn.discordapp.com/attachments/679240398966620160/789601816609947698/646fd84e23034116e2e47388fd047f7b.jpg') center/cover no-repeat ;
}
[user_by_bdfdb="626144497641717800"] >
.da-topSectionNormal {
    background: url('https://cdn.discordapp.com/attachments/751514674050236498/789764208030908416/image1.jpg') center/cover no-repeat;
}
[user_by_bdfdb="626144497641717800"] >
.da-topSectionSpotify {
    background: url('https://cdn.discordapp.com/attachments/751514674050236498/789764208030908416/image1.jpg') center/cover no-repeat;
}
[user_by_bdfdb="626144497641717800"] >
.da-topSectionPlaying {
    background: url('https://cdn.discordapp.com/attachments/751514674050236498/789764208030908416/image1.jpg') center/cover no-repeat;
}
.avatar-1BDn8e[src*="626144497641717800"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "";
  background-image: url('https://static.thenounproject.com/png/160062-200.png');}
.avatar-1BDn8e[src*="626144497641717800"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  content: "Friend";
  animation: fadeIn .5s linear 1;
  color: #7d864b;
  width: 80px;
  text-align: center;
  background-color: transparent;
}
/* ---------------------------------------- Nima ---------------------------------------- */
[user_by_bdfdb="366997934983872512"] >
.da-topSectionNormal {
  background: url('https://cdn.discordapp.com/attachments/721688979480641556/789572943444181052/andrew-neel-JBfdCFeRDeQ-unsplash.jpg') center/cover no-repeat ;
}
[user_by_bdfdb="366997934983872512"] >
.da-topSectionPlaying {
    background: url('https://cdn.discordapp.com/attachments/721688979480641556/789572943444181052/andrew-neel-JBfdCFeRDeQ-unsplash.jpg') center/cover no-repeat ;

}
[user_by_bdfdb="366997934983872512"] >
.da-topSectionSpotify{
    background: url('https://cdn.discordapp.com/attachments/721688979480641556/789572943444181052/andrew-neel-JBfdCFeRDeQ-unsplash.jpg') center/cover no-repeat ;
}

.avatar-1BDn8e[src*="366997934983872512"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "";
    background-image: url('https://static.thenounproject.com/png/160062-200.png');}
.avatar-1BDn8e[src*="366997934983872512"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
    content: "Friend";
    animation: fadeIn .5s linear 1;
    color: #7d864b;
    width: 80px;
    text-align: center;
    background-color: transparent;
}

/* ---------------------------------------- Farnaz ---------------------------------------- */
[user_by_bdfdb="690597954414706758"] >
.da-topSectionNormal {
    background: url('https://cdn.discordapp.com/attachments/690604664860704889/787990951826030602/image0.jpg') center/cover no-repeat ;
}
[user_by_bdfdb="690597954414706758"] >
.da-topSectionPlaying {
    background: url('https://cdn.discordapp.com/attachments/690604664860704889/787990951826030602/image0.jpg') center/cover no-repeat ;

}
[user_by_bdfdb="690597954414706758"] >
.da-topSectionSpotify{
    background: url('https://cdn.discordapp.com/attachments/690604664860704889/787990951826030602/image0.jpg') center/cover no-repeat ;
}
[user_by_bdfdb="690597954414706758"] >
.da-header {
    background: url('https://cdn.discordapp.com/attachments/690604664860704889/787990952069038100/image1.jpg') center/cover no-repeat ;
}

.avatar-1BDn8e[src*="690597954414706758"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "";
    background-image: url('https://static.thenounproject.com/png/160062-200.png');}
.avatar-1BDn8e[src*="690597954414706758"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
    content: "Friend";
    animation: fadeIn .5s linear 1;
    color: #7d864b;
    width: 80px;
    text-align: center;
    background-color: transparent;
}
[user_by_bdfdb="690597954414706758"] + .header-23xsNx .username-1A8OIy {
    background-image: linear-gradient(to left, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    animation: gradient-border 6s linear infinite;
    background-size: 400% 100%;
    color: transparent !important;
    -webkit-background-clip: text;
    
}
@keyframes gradient-border {
    0%, 200% {
        background-position: 0 0;
    }

    99.999999999999999% {
        background-position: 130% 0;
    }
}
/* ---------------------------------------- AmirReza ---------------------------------------- */
[user_by_bdfdb="650993831663239169"] >
.da-topSectionNormal {
    background: url('https://cdn.discordapp.com/attachments/604403809371947082/762974553202753576/metro_exodus_rails-wallpaper-7680x4800.jpg') center/cover no-repeat ;
}
[user_by_bdfdb="650993831663239169"] >
.da-topSectionPlaying {
    background: url('https://cdn.discordapp.com/attachments/604403809371947082/762974553202753576/metro_exodus_rails-wallpaper-7680x4800.jpg') center/cover no-repeat ;

}
[user_by_bdfdb="650993831663239169"] >
.da-topSectionSpotify{
    background: url('https://cdn.discordapp.com/attachments/604403809371947082/762974553202753576/metro_exodus_rails-wallpaper-7680x4800.jpg') center/cover no-repeat ;
}
[user_by_bdfdb="650993831663239169"] >
.da-header {
    background: url('https://cdn.discordapp.com/attachments/604403809371947082/762974553202753576/metro_exodus_rails-wallpaper-7680x4800.jpg') center/cover no-repeat ;
}

.avatar-1BDn8e[src*="650993831663239169"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "";
    background-image: url('https://static.thenounproject.com/png/160062-200.png');}
.avatar-1BDn8e[src*="650993831663239169"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
    content: "Friend";
    animation: fadeIn .5s linear 1;
    color: #7d864b;
    width: 80px;
    text-align: center;
    background-color: transparent;
}

.userPopout-3XzG_A .avatarWrapper-3H_478[user_by_bdfdb*="650993831663239169"]+.headerText-2sdzFM .headerTag-2pZJzA:after {
    content: 'Bot Dev';
    position: absolute;
    top: 10px;
    right: 5px;
    border-radius: 20px;
    color: var(--accent);
    font-size: var(--size4);
    font-weight: 500;
    height: 1.28em;
    padding: .072rem .275rem;
    line-height: 1.28em;
    background: #010101;
    z-index: 2;
}
/* ---------------------------------------- Shadmehr ---------------------------------------- */
[user_by_bdfdb="685808844596707339"] >
.da-header {
    background: url('https://upload.wikimedia.org/wikipedia/commons/5/51/IU_in_%22Love_Poem%22_Concert_in_Seoul_on_23rd_November_2019.jpg') center/cover no-repeat ;
}
[user_by_bdfdb="685808844596707339"] >
.da-topSectionNormal{
    background: url('https://cdn.discordapp.com/attachments/676787877878824980/778613225829957682/wp3743144-iu-k-pop-wallpapers.jpg') center/cover no-repeat;
}
[user_by_bdfdb="685808844596707339"] >
.da-topSectionPlaying{
    background: url('https://cdn.discordapp.com/attachments/676787877878824980/778613225829957682/wp3743144-iu-k-pop-wallpapers.jpg') center/cover no-repeat;
}
[user_by_bdfdb="685808844596707339"] >
.da-topSectionSpotify{
    background: url('https://cdn.discordapp.com/attachments/676787877878824980/778613225829957682/wp3743144-iu-k-pop-wallpapers.jpg') center/cover no-repeat;
}
.avatar-1BDn8e[src*="685808844596707339"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "";
    background-image: url('https://static.thenounproject.com/png/160062-200.png');}
.avatar-1BDn8e[src*="685808844596707339"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
    content: "Friend";
    animation: fadeIn .5s linear 1;
    color: #7d864b;
    width: 80px;
    text-align: center;
    background-color: transparent;
}

/* ---------------------------------------- Mat ---------------------------------------- */
.avatar-1BDn8e[src*="451679643595177994"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {content: "";
    background-image: url('https://static.thenounproject.com/png/160062-200.png');}
.avatar-1BDn8e[src*="451679643595177994"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
    content: "Friend";
    animation: fadeIn .5s linear 1;
    color: #7d864b;
    width: 80px;
    text-align: center;
    background-color: transparent;
}
